            <h1 class="mt-4">come inside and see for yourself</h1>
            <h2 class="lead mb-3">Welcome <%= user.name %></h2>
            <a href="/users/logout" class="btn btn-danger">exit</a>
            <a href="https://hawi888.github.io/2017080021-RIDE-online-market/" class="btn btn-primary">feel free to come inside</a>